NEXT_PUBLIC_CLOUDINARY_PRESET_NAME=jema6zik
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=drrzhdynm
NEXT_PUBLIC_BIBLE_API_KEY=13a3258ab3fa4f560bcf237e7940c476
NEXT_PUBLIC_BIBLE_API_KEY2=54da374f5b467b2fa691b2baf821becd
NEXT_PUBLIC_CLOUDINARY_API_KEY=841593859119548
NEXT_PUBLIC_CLOUDINARY_API_SECRET=40FmIPucHVE6DGGmsvBOTsVfzKs
SUPABASE_URL=https://rzqklwfhwqmviintncqh.supabase.co
POSTHOG_HOST=https://eu.posthog.com
POSTHOG_API_KEY=phc_9oWyJlhq9f04a3qghBbDtbcGOATlfcWrgsGPbaWAWOU
POSTHOG_PROJECT_ID=85601